<section>
  <img src="<%= book.image_url %>" alt="">
  <li class="title"><%= book.title %></li>
  <li class="author"><%= book.author %></li>
  <li class="description"><%= book.description %></li>
  <li class="isbn">ISBN: <%= book.isbn %></li>
  <li class="bookshelf">Bookshelf: <%= book.bookshelf %></li>
</section>


