<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layout/head') %>
  </head>
<body>
  <%- include('../../layout/header') %>
  <section>
    <img src="<%= bookDetail.image_url %>" alt="">
    <li class="title"><%= bookDetail.title %></li>
    <li class="author"><%= bookDetail.author %></li>
    <li class="description"><%= bookDetail.description %></li>
    <li class="isbn">ISBN: <%= bookDetail.isbn %></li>
    <li class="bookshelf">Bookshelf: <%= bookDetail.bookshelf %></li>
  </section>
</body>
</html>

