<section>
  <h4>Saved Books</h4>
      <ul>
        <p><%=book.length%> books on shelf</p>
        <img src=<%=book.image_url%> alt="">
        <li class="title"><%= book.title %></li>
        <li><%= book.authors %></li>
        <li class="description"><%= book.description %></li>
        <li class="isbn"><%= book.isbn %></li>
        <li class="bookshelf"><%= book.bookshelf %><li>
      </ul>
      <a href="/">Return Home</a>
</section>

