<form class="hide-form" action="/books" method="post">

    <input name="title" type="text" value="<%= book.title %>"/>
    <input name="authors" type="text" value="<%= book.authors %>"/>
    <input name="isbn" type="text" value="<%= book.isbn %>"/>
    <input name="image_url" type="text" value="<%= book.image_url %>"/>
    <input name="description" type="text" value="<%= book.description %>"/>
    <input name="bookshelf" type="text" value="" required/>
    
    <button type="submit">Add To Database</button>
    

</form>