<form class="hide-form" action="/" method="post">

    <input type="text" value="<%= book.title %>"/>
    <input type="text" value="<%= book.authors %>"/>
    <input type="text" value="<%= book.isbn %>"/>
    <input type="text" value="<%= book.image_url %>"/>
    <input type="text" value="<%= book.description %>"/>
    <input type="text" value="Enter a Bookshelf Name" required/>
    <button type="submit">Add to Database</button>
    

</form>