<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head') %>
</head>
<body>
  <%- include('../../layout/header') %>
  <h1>Search Results</h1>
  <ul class="search-results">
    <%  searchResults.forEach(book => { %>
    <div class="books" data-book-id="<%= book.isbn %>">
      <img src="<%= book.image_url %>" alt="">
      <li class="title"><%= book.title %></li>
      <li class="author"><%= book.authors %></li>
      <li class="description"><%= book.description %></li>
      <button type="submit">Select This Book</button>
    </div>
    <% })%>
  </ul>
</body>
</html>

