<%- include('./layout/head') %>
<body>
  <h1>Search Results</h1>

  <ul>
    <% for (let i = 0; i < 10; i++){ %>
    <div class="books">
      <img id=<%=`bookImages-${i}`%> src=<%=searchResults[i].image%> alt="">
      <li class="title"><%= searchResults[i].title %></li>
      <li><%= searchResults[i].authors %></li>
      <li class="description"><%= searchResults[i].description %></li>
      <a href="<%= %>">View Details</a>
    </div>
    <% }%>
  </ul>

</body>
</html>