
    <%- include('layout/head') %>

    <main>

      <h4>Saved Books</h4>
      
      <ul>
        <p id="books-on-shelf"><%=favorite.length%> books on shelf</p>
  
        <% favorite.forEach (bookItem => { %>
          <div class="books">
          <img src=<%=bookItem.image_url%> alt="">
          <li class="title"><%= bookItem.title %></li>
          <li class="author"><%= bookItem.authors %></li>
          <li class="description"><%= bookItem.description %></li>
  
        </div>
        <% }) %>
      </ul>
  
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  </body>
</html>

