<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/icons.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">
    <link rel="stylesheet" href="styles/base.css">
</head>
<body>
    <main>
      <h4>Favorite Books</h4>
      <ul>
        <% favorite.forEach (bookItem => { %>
          <img src=<%=bookItem.image_url%> alt="">
          <li class="title"><%= bookItem.title %></li>
          <li><%= bookItem.authors %></li>
          <li class="description"><%= bookItem.description %></li>
        <% }) %>



            <!-- <% favorite.forEach(bookItem => { %>
              <li class="book-item" data-id="<%= favorite.id %>">
                
                <h4>Task: <%= bookItem.title %></h4>
                <p><%= bookItem.authors %></p>
              
                
              </li>
            <% }) %> -->
      </ul>
    </main>
  </body>
</html>

