<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head') %>
</head>
<body>
  <%- include('../layout/header') %>
    <h3>Saved Books</h3>
    <p>Number of books: <%= books.length %> </p>
    <ul>
        <% books.forEach(book => {%>
        <div class="books">
          <img src="<%= book.image_url %>" alt="">
          <li class="title"><%= book.title %></li>
          <li class="author"><%= book.author %></li>
          <button type="submit"><a href="/books/<%= book.id %>">View Details</a></button>
        </div>
        <% })%>
      </ul>
  </body>
</html>