<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head') %>
</head>
<body>
    <h3>Saved Books</h3>
    <p>Number of books: <%= books.length %> </p>
    <ul>
        <% books.forEach(book => {%>
        <div class="books">
          <img src="<%= book.image_url %>" alt="">
          <li class="title"><%= book.title %></li>
          <li><%= book.author %></li>
          <button type="submit">View Details</button>
        </div>
        <% })%>
      </ul>
  </body>
</html>