<!DOCTYPE html>
<html lang="en">
    <%- include('layout/head') %>
<body>
    <main>
      <h4>Saved Books</h4>
      <ul>
        <p><%=favorite.length%> books on shelf</p>
        <% favorite.forEach (bookItem => { %>
          <img src=<%=bookItem.image_url%> alt="">
          <li class="title"><%= bookItem.title %></li>
          <li><%= bookItem.authors %></li>
          <li class="description"><%= bookItem.description %></li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>

